.todo {
    width: 400px;
    margin-top: 20px;
    border: 3px solid rgb(112, 76, 46);
    background-color: rgb(234, 229, 217);
    padding: 5px;
    padding-bottom: 25px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.description {
    text-align: center;
}

.status {
 color:rgb(117, 69, 32);
 text-align: right;
 background-color: rgb(228, 183, 153);
 padding-top: 10px;
 margin-top: 0px;
 padding-right: 15px;
 padding-bottom: 10px;
}

.status--NOT_STARTED {
    background-color: rgb(228, 183, 153);
}

.status--IN_PROGRESS {
    background-color: rgb(223, 211, 173);
}

.status--FINISHED {
    background-color: rgb(192, 211, 184);
}

#errorMessage, #readingMessage {
    text-align: center;
}

@media (min-width: 1000px) {
    .todo{
        width: 600px;
    } 
}

